---
import Layout from "../layouts/Layout.astro";
import TimeAlive from "../components/TimeAlive.astro";
---

<Layout currentPage="about">
    <h1 class="text-md">about page</h1>
    AGE: <TimeAlive client:react />
</Layout>
