---
import Layout from "../layouts/Layout.astro";
import TimeSince from "../components/TimeSince.astro";
---

<Layout currentPage={{ title: "about", path: "/about" }}>
    <div class="text-md">
        <p>
            AGE: <TimeSince
                date={new Date("11:47:00 2004-11-04")}
                client:react
            />
        </p>
    </div>
</Layout>
