---
import ProjectPage from "../../components/ProjectPage.astro";

export const metadata = {
    title: "Demo Project",
    description: "demo project",
    date: "the beginning of time (date)",
    slug: "demo",
    hidden: true,
};
---

<ProjectPage metadata={metadata}>
    <div class="flex flex-col">
        demo contents (from demo.astro)
        <b>
            description:
            {metadata.description}
        </b>
    </div>
</ProjectPage>
