---
import ProjectPage from "../../components/ProjectPage.astro";

export const metadata = {
    title: "Wiskatron",
    description: "Spotify listening activity with dynamic visuals",
    date: "February 2024",
    slug: "wiskatron",
    image: "/wiskatron-icon.svg",
    url: "https://wiskatron.oliverbryan.com",
    hidden: false,
};
---

<ProjectPage metadata={metadata}>
    <p class="mb-4">lorem ipsum</p>
</ProjectPage>
