---
import "../styles/global.css";
import CommandPalette from "../components/CommandPalette.astro";
import Header from "../components/Header.astro";

const { currentPage } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>ob - {currentPage.title}</title>
    </head>
    <CommandPalette />
    <body>
        <Header
            currentPage={currentPage}
            innerClass="px-4 max-w-5xl w-5xl mx-auto"
        />
        <div
            class="px-4 py-4 max-w-5xl lg:mb-16 lg:border-l-1 lg:border-r-1 lg:border-b-1 border-ayu-gutter mx-auto"
        >
            <slot />
        </div>
    </body>

</html>
